---
title: "Michele Contact Success"
preheader: "You're message to Michele Awada has been successfully recieved, and we will review it asap, Thank you."
bodyClass: bg-slate-50
---

<x-thanks>
      <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold">
        Hello @{{name}},
      </h1>

      <p class="m-0 leading-6">
        This email is to confirm we have received your message.
        <br>
        <br>
        Rest assured, we will review it as soon as possible!
      </p>
</x-thanks> 